<p>Olá, sou o componente PAI</p>
<p>Vou passar para o componente filho usando @Input a seguinte mensagem:  {{dadoParaFilho}}  </p>
<br/>
<p>***********************************************************************************************</p>
<app-filho [dadoRecebidoPai]="dadoParaFilho"></app-filho>

<br/>



<!-- <p> Este link vai para página externa, que exibirá o dado inserido no campo abaixo (insira e envie o dado antes de abrir a página) <a routerLink="pagina-externa"> link </a></p> -->

<p> Nos input abaixo você pode enviar dados via rota para o componente filho ou página externa</p>
<br/>
<input type = "text" [(ngModel)]="dadoParaFilhoViaRota" placeholder="Digite algo para enviar para o componente filho">
<button (click)="mensagemParaFilho()"> Enviar mensagem para filho via rota</button>
<br/>
<br/>
<input type = "text" [(ngModel)]="name" placeholder="Digite algo para enviar para pagina externa">
<button (click)="navToSecondComp()"> Enviar mensagem para página externa via rota</button>
